
.section-contact{
    display:grid;
     grid-template-columns:1fr 1fr;
    gap:2rem;
    padding: 2rem;
    align-items: start;
}


.form-container{
    margin: 0 auto;
    max-width: 100%;
    padding: 2rem;
    border-radius:8px;
    box-shadow: 0 4px 8px var(--strawberry-red);
    background-color: var(--SecondaryWhite-white-smoke);
    margin-bottom: 1.5rem;
    font-family: var(--font-secundaria);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-group{
    margin-bottom: 1.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; 
}

.form-group-selection{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    
}

.form-group.button-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;   
    
}

#form{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

input,textarea,select{
    width:100%;
    padding:12px;
    border:2px solid var(--strawberry-red);
    border-radius:12px;
    font-family:var(--font-secundaria);
    outline:none;
    box-sizing:border-box;
    
}


.btn-primary,.btn-danger{
    padding: 12px 24px;
   color:var(--white);
   border-radius: 30px;
   border:none;
   font-family: var(--font-secundaria);
   font-weight: bold;
   background:var(--SecondaryRed-dark-garnet);
   transition:.3s;
}

.btn-primary,.btn-danger:hover{
   background-color:var(--strawberry-red);
}


.form-group-selection div{
    display:flex;
    flex-direction: row;
    gap:1rem;
}


fieldset{
    border:none;
    margin:1rem 0;
    align-self: left;
}

textarea{
    max-width: 100%;
}

label{
    font-family: var(--Titulos);
    margin-bottom: 4px;
}


.contact-section{
    background-color: var(--PrimaryRed-mahogany-red);
    color:white;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    gap:1.5rem;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgb(0 0 0 / .3);
    text-align: center;
    overflow: hidden;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.contact-section a{
    color: rgb(102, 190, 102);
}
.social-media{ 
    background-color: var(--SecondaryWhite-white-smoke);
    color: var(--PrimaryRed-mahogany-red);
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgb(0 0 0 / .3);
    text-align: center;  border:2px solid var(--strawberry-red);
    font-family:var(--font-secundaria);
    outline:none;
    overflow: hidden;
    justify-content: space-between;
    
}

.contact-section, .social-media{
    font-family: var(--font-secundaria);
    font-size: 20px;
   
}
.contact-section:hover{
    transform: translateY(-10px);
}

.social-media a{
    padding: 2px 4px;
   color: var(--PrimaryRed-mahogany-red);
    transition: .9s ease;
    border-radius: 30px;
    border:none;
}

.social-media a:hover{
   color:var(--SecondaryRed-dark-garnet);
    text-decoration: underline var(--SecondaryRed-dark-garnet);  
}

