
*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
}

.cairo-play-text{
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

:root {
    /* CSS HEX */
--onyx: #0b090aff;
--SecondaryBlack-carbon-black: #161a1dff;
--SecondaryRed-dark-garnet: #660708ff;
--PrimaryRed-mahogany-red: #a4161aff;
--Accent-ahogany-red-2: #ba181bff;
--strawberry-red: #e5383bff;
--silver: #b1a7a6ff;
--dust-grey: #d3d3d3ff;
--SecondaryWhite-white-smoke: #f5f3f4ff;
--white: #ffffffff;

/*Tipografia texto*/
  --font-secundaria:"cairo play",sans-serif;

/*Tipografia Titulos*/
--Titulos: "Bagel Fat One", system-ui;
}


a{
    text-decoration: none;
}


body{
    background-color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    font-family: var(--Texto);
}


.btn{
    padding: 12px 20px;
    color:var(--white);
   border-radius: 30px;
   font-family: var(--font-secundaria);
   font-weight: bold;
   font-size: 20px;
   transition: .3s;
   margin-top: auto;
   
}
.btn,a{
    cursor: pointer;
}


ul{
    list-style: none;
}

main>h1{
    margin: 3rem 0;
    text-align: center;
}

img{
    width: 100%;
    display:block;
}

/*Header*/
header{
    background-color: var(--strawberry-red);
    padding: 1rem 2rem;
}

header nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family: var(--Titulos);
    font-weight: 100;
}

.nav-logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
    text-decoration: none;
   
}

.logo img{
    width: 30px;
    color: var(--onyx);
}

.nav-logo .logo-text{
    color: var(--SecondaryBlack-carbon-black);
    font-family: var(--Titulos);
    font-size: 30px;
}

header nav ul {
    display: flex;
    gap: 1.5rem;
}
.nav-link{
    padding: 10px 18px;
    color:var(--SecondaryBlack-carbon-black);
    border-radius:var(--SecondaryWhite-white-smoke);
    transition: 0.3s ease;
    border-radius: 30px;
}
.nav-link:hover{
    color:var(--white);
    background-color: var(--SecondaryRed-dark-garnet);  
}

h1, h2, h3{
    font-family: var(--Titulos);
}
h1{
    font-size: 60px;
}

p{
    font-family: var(--Texto);
}

/*Footer*/

 footer{
    background-color: var(--strawberry-red);
    padding: 1rem 2rem;
    margin-top: auto;
    text-align:left;
 }
   


.footer-nav{
    display:flex;
    gap: 1.5rem;
    justify-content:center;
    margin-bottom: 8px;
    font-family: var(--Titulos);
    font-weight: 100;
}
