
.hero-section{
    background-color:var(--white);
    display:flex;
    flex-direction:row;
    align-items:center;
    min-height:100vh;
    justify-content: center;
}
.section-content-hero{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section-content-hero
.title{
    font-family: var(--Titulos);
    color: var(--strawberry-red);
    max-width:70%;
    font-size: 150px;
    justify-content:flex-start;
}

.subtitle{
    margin-top:8px;
    max-width: 70%;
    font-family: var(--Titulos);
    font-size: 50px;
}

.description{
    max-width:70%;
    margin: 24px 0 40px;
    font-size: 30px;
    font-family: var(--font-secundaria);
    
}

.hero-section a{
  font-size: 1.2rem;
  color: var(--white);
}

.btn{
    display:flex;
   flex-direction:row;
   justify-content: space-between;
    gap:3px;

}
.btn-primary{
   padding: 10px 16px;
   border: 2px solid ;
   color:var(--white);
   border-radius: 30px;
   font-family: var(--font-secundaria);
   font-weight: bold;
    background:var(--SecondaryRed-dark-garnet);
    transition: .5s ease;
    animation:slideUp 1s ease-in;
}

@keyframes slideUp{
from{
    transform: translateY(100%);
    opacity: 0;
}
to{
    transform: translateY(0);
    opacity:1;
}
}

 .btn-primary:hover{
    background-color: var(--strawberry-red);

} 
/*Hero Image*/
.hero-image-wrapper{
    margin-right: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    
}
.hero-image{
    width: 100%;
  height: auto;
  display: block;
  animation: slideInRight 1s ease-in forwards;


}

@keyframes slideInRight {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
