
.card-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:2rem;
    padding: 2rem;
    justify-content: center;
}

.card{
    display:flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgb(0 0 0 / .3);
    object-fit: contain;
    text-align: center;
    overflow: hidden;
    
}

.card:hover{
    border-color: var(--strawberry-red);
}


.card-body{
    padding:20px;
    display:flex;
    flex-direction: column;
    flex:1;
    padding:20px;
}

 .card-body h2{
    font-family: var(--Titulos);
   } 
.card-body p{
    font-family: var(--font-secundaria);
   }


.card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.btn-order{
   
    padding: 12px 20px;
    color:var(--white);
   border-radius: 30px;
   font-family: var(--font-secundaria);
   font-weight: bold;
   font-size: 20px;
   background:var(--SecondaryRed-dark-garnet);  
   transition: .3s;
   margin-top: auto;
   
}

.btn-order:hover{
    background:var(--strawberry-red);
}
  